// Ant Design style overrides

.ant-tabs-tab-btn {
  color: @link-color;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: @link-color;
}

.ant-tabs-ink-bar {
  background: @link-color;
}
