@import '~SassConstants';

.container {
  font-family: $main-font;
  margin-bottom: 20px;

  .box {
    max-width: 600px;
    display: flex;
    flex-direction: column;

    .label {
      font-size: 16px;
      color: $medium-grey;
      margin-bottom: 10px;
    }

    .row {
      display: flex;
      margin-bottom: 10px;
    }
  }
}
