@import '~SassConstants';

.container {
  font-family: $main-font;
  padding: 20px;

  .heading {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    .title {
      font-size: 24px;
      color: $black;
      margin-left: 10px;
    }
  }
}
